* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  background: #171717;
  z-index: 20;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;
  margin: auto;
}

nav .logo h1 {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

nav .logo h1 span {
  color: #ffe100;
  margin-left: 8px;
  text-decoration: underline;
}

nav .right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .right ul li {
  display: inline-block;
  margin: 5px 20px;
  position: relative;
}

nav .right ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
  font-size: 1.3rem;
}

nav .right ul li a:hover {
  color: #ffe100;
}

/* Dropdown Styles */
nav .right ul .dropdown .dropdown-toggle::after {
  content: " ▼";
  font-size: 0.8rem;
  margin-left: 5px;
}

nav .right ul .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background: #282828;
  padding: 10px;
  border-radius: 5px;
  top: 100%;
  left: 0;
  width: 200px;
}

nav .right ul .dropdown:hover .dropdown-menu {
  display: block;
}

nav .right ul .dropdown .dropdown-menu li {
  display: block;
  margin: 5px 0;
}

nav .right ul .dropdown .dropdown-menu li a {
  font-size: 1rem;
  font-weight: normal;
}

nav .right ul .dropdown .dropdown-menu li a:hover {
  color: #ffe100;
}


section {
  margin-top: 0;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  background: paleturquoise;
}

.swiper {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.swiper::selection {
  user-select: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .image .black {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));

}

.swiper-slide .image .black h1 {
  font-size: 30px;
  text-align: left;
  position: relative;
  top: 60%;
  left: 5%;
  color: #fff;
}

.swiper-slide .image .black .star {
  color: #ffd500;
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
  position: relative;
  top: 60%;
  left: 5%;

}

.swiperMovieFrame{
  display: none;
  height: 41rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: rgb(47, 199, 233);
  z-index: 50;
  position: fixed;
  top: 4.2rem;
  left: -0.2rem;
}

.swiperMovieFrame video{
  width: 100%;
  height: 100%;
}

.MovieFrame {
  display: none;
  height: 41.5rem;
  width: 99vw;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: rgb(47, 199, 233);
  z-index: 15;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeMoviebtn {
  position: absolute;
  z-index: 5;
  top: 2px;
  right: 3px;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.MovieFrame video {
  width: 100%;
  height: 90%;
}

.MovieFrame h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: larger;

}

.swiper-slide .image .black p {
  width: 550px;
  text-align: justify;
  font-size: 16px;
  color: #cccccc;
  margin: 10px 0;
  position: relative;
  top: 60%;
  left: 5%;
  line-height: 23px;
  font-family: "Ink Free";
}

.swiper-slide .image .black .genre {
  text-align: left;
  font-size: 16px;
  margin: 13px 0;
  position: relative;
  top: 60%;
  left: 5%;
}

.swiper-slide .image .black .genre a.category {
  background: #282931;
  text-decoration: none;
  color: #cccccc;
  padding: 2px 7px;
}

.swiper-slide .image .black .genre a.category span {
  color: #ffe100
}

.swiper-slide .image .black .watch {
  width: 700px;
  text-align: left;
  display: flex;
  font-size: 16px;
  margin: 10px 0;
  position: relative;
  top: 60%;
  left: 5%;
}

.swiper-slide .image .black .watch i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-slide .image .black .watch p {
  position: relative;
  left: 15px;
  font-family: sans-serif;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}


/*----------------*/
.second {
  background-color: paleturquoise;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  border-top: 1px solid black;
}

.second .latest {
  width: 90%;
  margin: 0 auto;
}

.second .latest h1 {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
  color: black;
}

.second .latest .box {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second .latest .box .card {
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.second .latest .box .card .details {
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}


.second .latest .box .card:hover .details {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.second .latest .box .card .details .left {
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .left {
  opacity: 1;
  transform: translateX(0);
}

.second .latest .box .card .details .left p.name {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .date_quality {
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .date_quality p.quality {
  width: 30px;
  font-size: 1px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.second .latest .box .card .details .left .date_quality p.date {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left p.category {
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left .info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .info .rate {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.second .latest .box .card .details .left .info .rate i {
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.second .latest .box .card .details .left .info .rate p {
  font-size: 12px;
}

.second .latest .box .card .details .left .info .time {
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .info .time i {
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.second .latest .box .card .details .left .info .time p {
  font-size: 12px;
  margin-left: 5px;
}

.second .latest .box .card .details .right {
  position: absolute;
  right: 0;
  left: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .right {
  opacity: 1;
  transform: translateX(0);
}

/* .playbtn{
    position: relative;
    top: 0.5rem;
    left: 1rem !important;
  } */
.second .latest .box .card .details .right i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.second .latest .box .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*img{
    width: 200px;
    height: 150px;
  }*/

.upcoming {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: paleturquoise;
  border-top: 1px solid black;
}

.upcoming .movies_box {
  width: 90%;
  margin: 0 auto;

}

.upcoming .movies_box h1 {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
  color: black;
}

.upcoming .movies_box .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.upcoming .movies_box .box .card {
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.upcoming .movies_box .box .card .details {
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}


.upcoming .movies_box .box .card:hover .details {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.upcoming .movies_box .box .card .details .left {
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .left {
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .date_quality {
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality {
  width: 30px;
  font-size: 1px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category {
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left .info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .rate {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.upcoming .movies_box .box .card .details .left .info .rate i {
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.upcoming .movies_box .box .card .details .left .info .rate p {
  font-size: 12px;
}

.second .latest .box .card .details .left .info .time {
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i {
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p {
  font-size: 12px;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right {
  position: absolute;
  right: 0;
  left: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right {
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.upcoming .movies_box .box .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.show {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: paleturquoise;
  border-top: 1px solid black;
}

.show .tv_show {
  width: 90%;
  margin: 0 auto;
}

.show .tv_show h1 {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
  color: black;
}

.show .tv_show .box {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show .tv_show .box .card {
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  position: relative; /* Ensure card is positioned relative */
}

.show .tv_show .box .card .details {
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
}

.show .tv_show .box .card:hover .details {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.show .tv_show .box .card .details .left {
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details .left {
  opacity: 1;
  transform: translateX(0);
}

.show .tv_show .box .card .details .left p.name {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .date_quality {
  display: flex;
  align-items: center;
}

.show .tv_show .box .card .details .left .date_quality p.quality {
  width: 30px;
  font-size: 1px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.show .tv_show .box .card .details .left .date_quality p.date {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left p.category {
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left .info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .info .rate {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.show .tv_show .box .card .details .left .info .rate i {
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.show .tv_show .box .card .details .left .info .rate p {
  font-size: 12px;
}

.show .tv_show .box .card .details .left .info .time {
  display: flex;
  align-items: center;
}

.show .tv_show .box .card .details .left .info .time i {
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .time p {
  font-size: 12px;
  margin-left: 5px;
}

.show .card .right {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #fff;
  opacity: 0;
  transform: translateX(10px);
  transition: 0.4s;
}

.show .card .right i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
}

.show .card:hover .right {
  opacity: 1;
  transform: translateX(-10px);
}

.show .tv_show .box .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.newsletter {
  width: 100%;
  height: auto;
  padding: 0 0 40px 0;
  background-color: paleturquoise;
  border-top: 1px solid black;
}

.newsletter h1 {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.newsletter .news_card {
  width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newsletter .news_card input {
  width: 550px;
  height: 55px;
  margin-top: 20px;
  border-radius: 35px;
  border: 3px solid black;
  padding: 0 10px;
  outline: none;
  background: none;
  color: #cccccc;
}

.newsletter .news_card button {
  position: absolute;
  right: 0;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  margin-top: 20px;
  margin-right: 8px;
  border: 0;
  outline: none;
  background-color: black;
  color: #fff;
  border: 1px solid black;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.8s ease;
}
.newsletter .news_card button:hover{
  background-color: paleturquoise;
  color: black;
}

#contact {
  padding: 50px 0;
  background-color: paleturquoise;
  color: #fff;
  border-top: 1px solid black;
}

#contact h2{
  text-align: center;
  font-size: 2rem;
  color: black;
  width: 100%;
}
.contactContainer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2rem;
}

.sendMessage{
  margin-left: 2rem;
  width: 55%;
  background-color: #171717;
  color: #fff;
  padding: 1rem;
}

 .getInTouch {
  width: 45%;
  background-color: #171717;
  color: #fff;
  padding: 1rem;
}

.sendMessage h2, .getInTouch h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff !important;
}

.sendMessage form .formGroup {
  margin-bottom: 15px;
}

.sendMessage form .formGroup label {
  display: block;
  margin-bottom: 5px;
}

.sendMessage form .formGroup input, .sendMessage form .formGroup textarea {
  width: 100%;
  padding: 10px;
  background-color: #171717;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
}

.sendMessage form .formGroup textarea {
  height: 150px;
  resize: none;
}

.sendMessage form button {
  padding: 10px 20px;
  background-color: #171717;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendMessage form button:hover {
  background-color: #fff;
  color: black;
}

.getInTouch p, .getInTouch ul {
  margin-bottom: 15px;
}

.getInTouch .socialLinks {
  list-style-type: none;
  padding: 0;
}

.getInTouch .socialLinks li {
  margin-bottom: 10px;
}

.getInTouch .socialLinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.getInTouch .socialLinks li a i {
  margin-right: 10px;
  font-size: 18px;
}

.getInTouch .contactNumber {
  font-size: 14px;
}

footer {
  background-color: #171717;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.footerSection {
  width: 33%;
  flex: 1;
  margin: 0 1rem;
}
.footerSection .emailPart{
  text-decoration: none;
  color: #fff;
}

.footerSection h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footerSection p, .footerSection ul {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin: 0.5rem 0;
}

.footerSection ul li a {
  color: #fff;
  text-decoration: none;
}

.footerSection ul li a:hover {
  color: #ffe100;
}

.footerBottom {
  margin-top: 1rem;
  border-top: 1px solid #fff;
  padding-top: 1rem;
}

.footerBottom p {
  margin: 0.5rem 0;
}

.footerBottom .end {
  font-size: 1.4rem;
}

.footerBottom .gototopbtn {
  margin-top: 1rem;
}

.footerBottom .gototopbtn a {
  color: #ffe100;
  text-decoration: none;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}

.footerBottom .gototopbtn i {
  margin-right: 0.5rem;
}
